body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.special-link {
  padding: 10px 15px;
  background-color: #4CAF50; /* 深綠色背景 */
  color: #FFFFFF; /* 白色文字 */
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  text-shadow: 1px 1px 2px #000000; /* 文字陰影 */
}

.special-link:hover {
  background-color: #45a049; /* 滑鼠經過時背景變深 */
  color: #FFFF00; /* 滑鼠經過時文字變為黃色，增加互動感 */
}

