/* Switch 與 Slider 樣式表 */
.onoffswitch {
    position: relative; width: 90px; top: -55px; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 35px;
    font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 7.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 51px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* 燈控開關的樣式 */
.lightControl{
background:black;
padding: 5 15px 30 100px;
}
.labelText{
color:yellow;
}
.sliderRange{
  height: 65px;
  width: 98%;
  background:#fff;
  border-radius: 10px;
  padding: 0 15px 0 100px;
  text-align:center;
}
.sliderRange .sliderValue{
  position:relative;
  width:100%;
}
.sliderRange .sliderValue span{
  position: absolute;
  height: 45px;
  color: white;
  font-weight: 500;
  top: -40px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  line-height: 55px;
  z-index: 2;
}
.sliderRange .sliderValue span:after{
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  background: red;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border:solid 3px #fff;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.sliderRange .sliderValue span.show{
  transform: translateX(-50%) scale(1);
}
.sliderRange .sliderField .value.left{
  position: relative; top: 40px; left: -50%;
  font-size:18px; font-weight:600; color: black;
}
.sliderRange .sliderField .value.right{
  position: relative; top: -10px; left: 50%;
  font-size:18px; font-weight:600; color: black;
}
/* 燈號與文字顯示 */
div#green {
	width: 25px;
	height: 25px;
	border: 1px solid green;
	border-radius: 50%;
	background-color: green;
}
div#yellow {
	width: 25px;
	height: 25px;
	border: 1px solid yellow;
	border-radius: 50%;
	background-color: yellow;
}
div#orange {
	width: 25px;
	height: 25px;
	border: 1px solid orange;
	border-radius: 50%;
	background-color: orange;
}
div#red {
	width: 25px;
	height: 25px;
	border: 1px solid red;
	border-radius: 50%;
	background-color: red;
}
div#purple {
	width: 25px;
	height: 25px;
	border: 1px solid purple;
	border-radius: 50%;
	background-color: purple;
}
div#blue {
	width: 25px;
	height: 25px;
	border: 1px solid blue;
	border-radius: 50%;
	background-color: blue;
}
span#color {
	margin-left: 27px;
}

